# Ignorar carpetas de compilación y dependencias en cualquier nivel
**/node_modules/
**/bin/
**/Bin/
**/obj/
**/Obj/

# Archivos específicos y temporales de compilación (en cualquier subcarpeta)
**/*.dll
**/*.exe
**/*.pdb
**/*.user
**/*.suo
**/*.lscache
**/*.csproj.lscache
.vs/