version: "3.8"

services:
  mongodb:
    image: mongo:7
    container_name: gestor_restaurante_mongo
    restart: always
    environment:
      MONGO_INITDB_DATABASE: gestor_restaurante
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
